@import '../../vars.css';

.container {
  color: var(--color-text);
  margin-top: 27px;
  margin-left: 10%;
  margin-right: 10%;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 10px;
  margin-right: 65px;
}

.name, .email, .message {
  border-radius: 5px;
  padding: 4px;
}

.obfuscatedEmail a {
  color: var(--color-text);
  text-decoration: none;
}

