:root {
  /* colors */
  --color-text: #fff;
  --color-primary: #7457bc;
  --color-secondary: #2b196d;
  --color-dark: #240b47;
  --color-bg: #17042d;


  /* fonts */
  --font-roboto: "Roboto";
  --font-outfit: "Outfit";
}